    <div id="toolbar">  
      <h1><%= image_tag ("specright_logo.png"), :width => 108, :height=> 33%></h1>  
		  <%= link_to "Full Site", root_url(:mobile => 0), :class => "full_site", :rel => "external" %>
    </div> 

  <%= form_tag sessions_path do %> 
    <div id="login">
      <table>
        <tr>
          <td id="login_text">Email:</td>
          <td id="login_field"><%= text_field_tag :email %></td>
        </tr>
        <tr>
          <td id="login_text">Password:</td>
          <td id="login_password"><%= password_field_tag :password %></td>
        </tr>
      </table>
    <div id="login_submit"><%= submit_tag :login, :class => "login_submit" %></div>
    </div>
  <% end %>
      
