<div id="page_title"><%= @post.title.upcase %></div>

<div id="comment_box_1">
<table>
<% @comments.each do |comment| %>
  <tr>
  <td id="blog_text"><%= comment.text %></td>
  </tr>
  <tr>
  <td id="blog_text"><%= comment.author %></td>
  <td id="blog_text"><%= comment.created_at.strftime("%A %e %B %Y")%></td>
  </tr>
<% end %>   
</table>
</div>



<div id="comment_box_2">
<% form_for @comment do |f| %>

<%= f.hidden_field :project_status, :value => @post.id %>

<table>
  <tr>
    <td><%= f.label :Name %>:</td>
    <td><%= f.text_field :author %></td>
  </tr>
  <tr>
    <td><%= f.label :text %>:</td>
    <td><%= f.text_area :text, :rows  => 1, :cols => 105  %></td>
  </tr>
  <tr>
    <td colspan=2><%= f.submit %></td>
  </tr>
</table>
<% end %>

</div>

<div id="bottom_button"><%= link_to 'Back', post_path(@post.id) %></div>
