<div class="page_title"><%= @company.company_name %></div>

<div class="content">
    <div class="column_1_2">
		<div class="column_content">       
			    			
			<table class="users">
				<tr>
					<th>Name</th>
					<th class="mob_cell">Email</th>
					<th class="mob_cell">Created</th>
					<th class="s_tab">Log-ins</th>
					<th class="s_tab">Last Log-in</th>
					<th width="60px"></th>
					<th width="52px"></th>
				</tr>
				<% @licences.each do |licence|%>
				<tr>
					<td><%= licence.user.first_name %> <%= licence.user.surname %></td>
					<td class="mob_cell"><%= licence.user.email %></td>
					<td class="mob_cell"><%= created(licence) %></td>
					<td class="s_tab"><%= licence.number_times_logged_in %></td>
					<td class="s_tab"><%= last_seen(licence) %></td>
					<td><%= check_active(licence) %></td> 
					<td><%= locked_at(licence) %></td>    
				</tr>
				<%end%>  
			</table>           
    	</div>
	</div>


    <div class="column_3">
		<div class="column_content">       
			<div class="column_title">Add new user</div>   
    			<div class="column_sub_content">
    				
    				<div class="column_guide">
						<p><%= licence_status(@active_licences.count, @account.no_licence) %></p>
      				</div>
					<% if @user.errors.any? %> 
					<div class="column_error">      		    
        				<div class="column_error_heading">
        					<p>A number of errors prohibited this user from being created, please complete highlighted items:</p>
        				</div>
        				<div class="column_error_content">
        					<ul>
								<li>Error</li>
								<li>Error</li>
        					</ul>
        				</div>
					</div>
					<% end %>
					<%= add_user(@active_licences.count, @account.no_licence, current_user.company_id) %>
				</div>       		      		
      		</div> 
		</div> 
	</div>	
</div>








