<div id="project_info">
  <div id="current_project_title">   
    <%= @current_project.project_code_and_title %>
  </div>
  <div id="project_status">
    Status: <%= @current_project.project_status %>
  </div>
  <div id="project_rev">
    Rev: <%= @current_revision_rev %>
  </div>
</div>

<div id="option_band">
  <div id="option_select_1">Revision
                                     
      <%= revision_select(@project_revisions, @selected_revision, @current_project, @revision_clause_id_array) %>
    
  </div>
</div>

<%= revision_help(@revision_subsections, @selected_revision, @current_project) %>

<div id="usual1" class="usual">

<ul>
  <% if !@revision_prelim_subsections.blank? %>
    <li><a <%= get_class_and_href_ref(@first_prelim_susbsection.id, @current_revision)%>><%= @first_prelim_susbsection.section.ref%>--</a></li>
  <% end%>
  
  <% @revision_none_prelim_subsections.each do |revision_subsection|%>
    <li><a <%= get_class_and_href_ref(revision_subsection.id, @current_revision)%>><%= revision_subsection.section.ref%><%= revision_subsection.ref%></a></li>
  <% end %>
</ul>


  <% if !@revision_prelim_subsections.blank? %>

  <div id="<%= @first_prelim_susbsection.id%>rev_view" class="<%= @first_prelim_susbsection.id%>">

    <% if !@array_of_deleted_prelim_subsections_compacted.blank? %>
      <table class='rev_deleted_subsection_title' width ='100%'><tr><td class='rev_title'>Deleted Subsections:</td></tr></table>
        <% @array_of_deleted_prelim_subsections_compacted.each do |revision_prelim_subsection|%>
        <%= changed_prelim_subsection_text(revision_prelim_subsection) %>
        <% end%>
    <% end%>
    
    <% if !@array_of_new_prelim_subsections_compacted.blank? %>
      <table class='rev_deleted_subsection_title' width ='100%'><tr><td class='rev_title'>Added Subsections:</td></tr></table>
        <% @array_of_new_prelim_subsections_compacted.each do |revision_prelim_subsection|%>
        <%= changed_prelim_subsection_text(revision_prelim_subsection) %>
        <% end%>
    <% end%>
    
    <% if !@array_of_changed_prelim_subsections_compacted.blank? %>
      <table class='rev_deleted_subsection_title' width ='100%'><tr><td class='rev_title'>Changed Subsections:</td></tr></table>
        
        <% @array_of_changed_prelim_subsections_compacted.each do |changed_subsection|%>

        <%= changed_prelim_subsection_text(changed_subsection) %>

          <%= deleted_prelim_clauses_text(changed_subsection) %>
         

          <%= deleted_prelim_clauses_text(changed_subsection) %> 
          <% @hash_of_deleted_clauses_compacted = @hash_of_deleted_prelim_clauses[changed_subsection.id].compact %>
          <% @hash_of_deleted_clauses_compacted.each do |changed_clause| %>          
            <%= changed_clause_titles(changed_clause, 'deleted') %>
          <% end %>         
         
          <%= new_prelim_clauses_text(changed_subsection) %> 
          <% @hash_of_new_clauses_compacted = @hash_of_new_prelim_clauses[changed_subsection.id].compact %>
          <% @hash_of_new_clauses_compacted.each do |changed_clause| %>          
            <%= changed_clause_titles(changed_clause, 'added') %>
          <% end %>

          
          <%= changed_prelim_clauses_text(changed_subsection) %>
 
          <% @hash_of_changed_clauses_compacted = @hash_of_changed_prelim_clauses[changed_subsection.id].compact %>
          <% @hash_of_changed_clauses_compacted.each do |changed_clause| %>
            
            <%= changed_clause_titles(changed_clause, 'changed') %>
          
      <%= clause_line_text_altered(changed_clause, 'new') %>
        <% @altered_lines.each do |added_line| %>
          <%= original_line_text(added_line) %>
        <% end %>
    
      <%= clause_line_text_altered(changed_clause, 'deleted') %>
        <% @altered_lines.each do |deleted_line| %>
          <%= original_line_text(deleted_line) %>
        <% end %>
    
      <%= clause_line_text_altered(changed_clause, 'changed') %>
            <% @altered_lines.each do |changed_line| %>
              <%=changed_line_text(changed_line, @selected_revision, @current_project)%>
            <% end %> 
                    
          <% end%>
        <% end%>
    <% end%>
    </div>
  <% end%>

  <% if !@revision_none_prelim_subsections.blank? %>
  <% @revision_none_prelim_subsections.each do |revision_subsection|%>
    <div id="<%= revision_subsection.id%>rev_view" class="<%= revision_subsection.id%>">

    <%= new_subsection_text(revision_subsection) %>
    <%= deleted_subsection_text(revision_subsection) %>

    <%= deleted_clauses_text(revision_subsection) %>
      <% @hash_of_deleted_clauses_compacted = @hash_of_deleted_clauses[revision_subsection.id].compact %>
      <% @hash_of_deleted_clauses_compacted.each do |deleted_clause| %>
        <%= altered_clause_text(deleted_clause, @selected_revision, @current_project) %>
      <% end %>

    <%= new_clauses_text(revision_subsection) %> 
      <% @hash_of_new_clauses_compacted = @hash_of_new_clauses[revision_subsection.id].compact %>
      <% @hash_of_new_clauses_compacted.each do |new_clause| %>
        <%= altered_clause_text(new_clause, @selected_revision, @current_project) %>
      <% end %>
    
    <%= changed_clauses_text(revision_subsection) %>
 
    <% @hash_of_changed_clauses_compacted = @hash_of_changed_clauses[revision_subsection.id].compact %>
    <% @hash_of_changed_clauses_compacted.each do |changed_clause| %>

      <%= changed_clause_titles(changed_clause, 'changed') %>

      <%= clause_line_text_altered(changed_clause, 'new') %>
        <% @altered_lines.each do |added_line| %>
          <%= original_line_text(added_line) %>
        <% end %>
    
      <%= clause_line_text_altered(changed_clause, 'deleted') %>
        <% @altered_lines.each do |deleted_line| %>
          <%= original_line_text(deleted_line) %>
        <% end %>
    
      <%= clause_line_text_altered(changed_clause, 'changed') %>
        <% @altered_lines.each do |changed_line| %>
          <%=changed_line_text(changed_line, @selected_revision, @current_project)%>
        <% end %>      

    <%end%>
    </div>
  <%end%>
  <%end%>
</div>
</div>
