<div class="project_info">
	<div class="project_title">
		<div class="project_code">   
    		Project: <%= @current_project.code%>
		</div>
		<div class="project_code_title">   
    		<%= @current_project.title %>
		</div>
	</div>	
	<div class="project_status">
		Status: <%= @current_project.project_status %>
	</div>
	<div class="project_rev">
    	Rev: <%= @current_revision_rev %>
  	</div>
</div>

<div class="option_band_single">	
	<div class="project_select">
		<div class="project_label_select">Revision:</div>
      	<%= revision_select(@project_revisions, @selected_revision, @current_project, @revision_subsections) %>
	</div>
</div>


<% if @revision_subsections.blank? %>
<div class="content">
    <div class="column_1">
		<div class="column_content">
      		<div class="column_title">Revisions</div>   
      
    		<div class="column_sub_content">

				<div class="column_guide">
					<%= revision_help(@revision_subsections, @selected_revision, @current_project) %>
				</div>	
      		</div>
      	</div>   
	</div>

	<div class="column_2 column_blank"></div>
    <div class="column_3 column_blank"></div>
  
</div> 						

<% else %>


<div class="revision_tabs">
	<ul class='tabs'>
  <% if @revision_prelim_subsections %>
    <li id="prelim"><a href='#prelim_rev_view'><%= @first_prelim_susbsection.section.ref%>--</a></li>
  <% end%>
  
  <% @revision_none_prelim_subsections.each do |revision_subsection|%>
    <li id="<%= revision_subsection.id %>"><a href='#<%= revision_subsection.id%>rev_view'><%= revision_subsection.section.ref%><%= revision_subsection.ref%></a></li>
  <% end %>
</ul>


  <% if @revision_prelim_subsections %>

  <div id="prelim_rev_view" class="tab_content <%= @first_prelim_susbsection.id%>">

    <% if !@array_of_deleted_prelim_subsections_compacted.empty? %>
      <table class='rev_deleted_subsection_title' width ='100%'><tr><td class='rev_title'>Deleted Subsections:</td></tr></table>
        <% @array_of_deleted_prelim_subsections_compacted.each do |revision_prelim_subsection|%>
        <%= changed_prelim_subsection_text(revision_prelim_subsection) %>
        <% end%>
    <% end%>
    
    <% if !@array_of_new_prelim_subsections_compacted.empty? %>
      <table class='rev_deleted_subsection_title' width ='100%'><tr><td class='rev_title'>Added Subsections:</td></tr></table>
        <% @array_of_new_prelim_subsections_compacted.each do |revision_prelim_subsection|%>
        <%= changed_prelim_subsection_text(revision_prelim_subsection) %>
        <% end%>
    <% end%>
    
    <% if !@array_of_changed_prelim_subsections_compacted.empty? %>
      <table class='rev_deleted_subsection_title' width ='100%'><tr><td class='rev_title'>Changed Subsections:</td></tr></table>
        
        <% @array_of_changed_prelim_subsections_compacted.each do |changed_subsection|%>

		  <%= changed_prelim_subsection_text(changed_subsection) %>
          <%= deleted_prelim_clauses_text(changed_subsection) %>
         
          <%= deleted_prelim_clauses_text(changed_subsection) %> 
          <% @hash_of_deleted_clauses_compacted = @hash_of_deleted_prelim_clauses[changed_subsection.id].compact %>
          <% @hash_of_deleted_clauses_compacted.each do |changed_clause| %>          
            <%= changed_clause_titles(changed_clause, 'deleted') %>
          <% end %>         
         
          <%= new_prelim_clauses_text(changed_subsection) %> 
          <% @hash_of_new_clauses_compacted = @hash_of_new_prelim_clauses[changed_subsection.id].compact %>
          <% @hash_of_new_clauses_compacted.each do |changed_clause| %>          
            <%= changed_clause_titles(changed_clause, 'added') %>
          <% end %>

          
          <%= changed_prelim_clauses_text(changed_subsection) %>
 
          <% @hash_of_changed_clauses_compacted = @hash_of_changed_prelim_clauses[changed_subsection.id].compact %>
          <% @hash_of_changed_clauses_compacted.each do |changed_clause| %>
            
        	<%= changed_clause_titles(changed_clause, 'changed') %>
          
      		<%= clause_line_text_altered(changed_clause, 'new') %>
        	<% @altered_lines.each do |added_line| %>
          		<%= original_line_text(added_line) %>
        	<% end %>
    
      		<%= clause_line_text_altered(changed_clause, 'deleted') %>
        	<% @altered_lines.each do |deleted_line| %>
          		<%= original_line_text(deleted_line) %>
        	<% end %>
    
      		<%= clause_line_text_altered(changed_clause, 'changed') %>
            <% @altered_lines.each do |changed_line| %>
              <%=changed_line_text(changed_line, @selected_revision, @current_project)%>
            <% end %> 
                    
          <% end%>
        <% end%>
    <% end%>
    </div>


  <% else %>
  <% @revision_none_prelim_subsections.each do |revision_subsection|%>
    <div id="<%= revision_subsection.id%>rev_view" class="tab_content <%= revision_subsection.id%>">

    <%= new_subsection_text(revision_subsection) %>
    <%= deleted_subsection_text(revision_subsection) %>

    <%= deleted_clauses_text(revision_subsection) %>
      <% @hash_of_deleted_clauses_compacted = @hash_of_deleted_clauses[revision_subsection.id].compact %>
      <% @hash_of_deleted_clauses_compacted.each do |deleted_clause| %>
        <%= altered_clause_text(deleted_clause, @selected_revision, @current_project) %>
      <% end %>

    <%= new_clauses_text(revision_subsection) %> 
      <% @hash_of_new_clauses_compacted = @hash_of_new_clauses[revision_subsection.id].compact %>
      <% @hash_of_new_clauses_compacted.each do |new_clause| %>
        <%= altered_clause_text(new_clause, @selected_revision, @current_project) %>
      <% end %>
    
    <%= changed_clauses_text(revision_subsection) %>
 
    <% @hash_of_changed_clauses_compacted = @hash_of_changed_clauses[revision_subsection.id].compact %>
    <% @hash_of_changed_clauses_compacted.each do |changed_clause| %>

      <%= changed_clause_titles(changed_clause, 'changed') %>

      <%= clause_line_text_altered(changed_clause, 'new') %>
        <% @altered_lines.each do |added_line| %>
          <%= original_line_text(added_line) %>
        <% end %>
    
      <%= clause_line_text_altered(changed_clause, 'deleted') %>
        <% @altered_lines.each do |deleted_line| %>
          <%= original_line_text(deleted_line) %>
        <% end %>
    
      <%= clause_line_text_altered(changed_clause, 'changed') %>
        <% @altered_lines.each do |changed_line| %>
          <%=changed_line_text(changed_line, @selected_revision, @current_project)%>
        <% end %>      

    <%end%>
    </div>
  <%end%>
  <%end%>
</div>
</div>

<% end %>


<!-- jquery to load tab content -->
	<script>
		$('ul.tabs').children('li').click(function(){
			var subsection_id = $(this).attr('id');
			jQuery.get('/revisions/<%= @current_project.id%>/show_rev_tab_content?revision_id=<%= @selected_revision.id %>&subsection_id=' + subsection_id);
		});
	</script>
