<div id="project_info">
  Add/remove clauses from <%= @current_subsection.subsection_full_code_and_title %>
</div>

<div id="option_band">
  <div id="option_select_1">Template
    <div id="template_select">                                 
      <%= select_tag "selected_template_id", options_from_collection_for_select(@selectable_templates, "id", "project_code_and_title", @current_project_template.id), {:onchange => "window.location='/speclines/#{@specline.id}/manage_clauses?selected_template_id='+this.value;"} %>
    </div>
  </div>

  <div id="back_button"><%= link_to "back", {:controller => "projects", :action => "show", :id => @current_project.id, :subsection => @current_subsection.id} %></div>
</div>

<div id="edit_box">

      <div id="available_list">
        <table>      
          <tr>
            <td>Clauses in Template but not in Project:</td>
          </tr>
          <tr>
            <td>
              <%= select_tag "template_clauses", options_from_collection_for_select(@template_project_clauses, :id, :clause_full_title), :multiple => true, :size => 12 %>
            </td>
          </tr>   
        </table>
        <table>      
          <tr>
            <td>Clauses in Template but not in Project:</td>
          </tr>
          <tr>
            <td>
              <%= select_tag "template_clauses", options_for_select(@both_project_clauses), :multiple => true, :size => 12 %>
            </td>
          </tr>   
        </table>

      </div>

    <div id="edit_list">

      <div id="create_clause_button"><%= link_to "create clause", {:controller => "clausetitles", :action => "new", :id => @specline.id, :project_id => @current_project.id, :subsection => @current_subsection.id} %></div>

    </div>

     
     <div id="included_list">
     <%= form_tag(:controller => "speclines", :action => "edit_clauses") do %>
     <table>
      <tr>
        <td>Clauses in Project:</td>
      </tr>
      <tr>
        <td>
            <%= hidden_field_tag "project_id", @current_project.id%>
            <%= hidden_field_tag "template_id", @current_project_template.id%>
            <%= hidden_field_tag "subsection_id", @current_subsection.id %>
            <%= select_tag "project_clauses", options_from_collection_for_select(@current_project_clauses, :id, :clause_full_title), :multiple => true, :size => 12 %> 
        </td>
      </tr>
      <tr>
        <td>
          <%= submit_tag "save changes to project", :class=>"edit_submit", :confirm => "Clauses selected for removal will be permanently deleted from the Project. Do you wish to continue?" %>
        </td>
      </tr>
     </table>
     
     <% end %>
     </div>

</div>