
 
  <div class="current">  

    <div id="toolbar"> 
      <%= link_to "Back", {:controller => "projects", :action => "show", :id => @current_project.id, :subsection => @specline_clause_subsection.clauseref.subsection_id}, :class => "back", :rel => "external" %>
      <h2>    
        <table>
        <tr><td><%= @current_project.code %> rev <%= @current_revision_rev %></td></tr>
        <tr><td><%= @specline.clause.clause_code %></td></tr>
        </table>      
      </h2>
      <%= link_to "Change Linetype", {:controller => "speclines", :action => "mob_change_linetype", :id => @specline.project_id, :specline_id => @specline.id}, :class => "change_linetype", :rel => "external"   %>  
    </div>  

       
  <%= form_for @specline, :url => mob_line_update_specline_path(@specline) do |f| %> 

    
    <ul>
      <% if @specline.linetype_id == 4%>
        <li class='specline_type'>Prefix (automatically assigned)</li>
        <li class='specline_type'>Text</li><li class='specline_edit' ><%= f.text_area :txt5_text, :value => @specline.txt5.text %></li>
      <% elsif @specline.linetype_id == 3%>
        <li class='specline_type'>Prefix (automatically assigned)</li>
        <li class='specline_type'>Description</li><li class='specline_edit' ><%= f.text_area :txt4_text, :value => @specline.txt4.text  %></li>
        <li class='specline_type'>Attribute</li><li class='specline_edit' ><%= f.text_area :txt5_text, :value => @specline.txt5.text  %></li>
      <% elsif @specline.linetype_id == 5%>
        <li class='specline_type'>Category</li><li class='specline_edit' ><%= f.text_field :txt3_text, :value => @specline.txt3.text  %></li>
        <li class='specline_type'>Product Attribute</li><li class='specline_edit' ><%= f.text_area :txt6_text, :value => @specline.txt6.text  %></li>
      <% elsif @specline.linetype_id == 6%>
        <li class='specline_type'>Category</li><li class='specline_edit' ><%= f.text_field :txt3_text, :value => @specline.txt3.text  %></li>
        <li class='specline_type'>Attribute</li><li class='specline_edit' ><%= f.text_area :txt5_text, :value => @specline.txt5.text  %></li>
      <% elsif @specline.linetype_id == 7%>
        <li class='specline_type'>Text</li><li class='specline_edit'><%= f.text_area :txt4_text, :value => @specline.txt4.text  %></li>
      <% elsif @specline.linetype_id == 8%>
        <li class='specline_type'>Description</li><li class='specline_edit' ><%= f.text_area :txt4_text, :value => @specline.txt4.text  %></li>
        <li class='specline_type'>Attribute</li><li class='specline_edit' ><%= f.text_area :txt5_text, :value => @specline.txt5.text  %></li>
      <% end %> 
    </ul>
    <%= f.submit "Save" %>
  <% end %>

  
</div>     
