var line_prefix = "<li id='<%=@new_specline.id.to_s%>' class='specline_line'><table width='100%'><tr><td width='50'><%= escape_javascript(link_to image_tag("insrow_mob.png"), {:controller => "speclines", :action => "new_specline", :id => @new_specline.id}, :class => "get")%></td><td width='50'><%= escape_javascript(link_to image_tag("edit_mob.png"), {:controller => "speclines", :action => "mob_edit_specline", :id => @new_specline.id}, :rel => "external")%></td>";
var line_suffix = "<td width='35'><%= escape_javascript(link_to image_tag("delete_mob.png"), {:controller => "speclines", :action => "delete_specline", :id => @new_specline.id}, :class => "delete")%></td></tr></table></li>";
                                                                      
var linetype_3 = "<td width='18'><%= @new_specline.txt1.text%>.</td><td><%= @new_specline.txt4.text%>: <%= @new_specline.txt5.text%>.</td>";
var linetype_4 =  "<td width='18'><%=@new_specline.txt1.text%>.</td><td><%= @new_specline.txt4.text%>.</td>";                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
var linetype_5 =  "<td><table><tr><td><%= @new_specline.txt3.text%>:</td><td width = '5'></td><td><%= @new_specline.txt6.text%>.</td></tr></table></td>";
var linetype_6 =  "<td><table><tr><td><%= @new_specline.txt3.text%>:</td><td width = '5'></td><td><%= @new_specline.txt5.text%>.</td></tr></table></td>";
var linetype_7 =  "<td><%= @new_specline.txt4.text%>.</td>";                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
var linetype_8 =  "<td><%= @new_specline.txt4.text%>: <%= @new_specline.txt5.text%>.</td>";

switch(<%=@new_specline.linetype_id%>){
case 3: $('li#<%=@specline.id%>').after(line_prefix + linetype_3 + line_suffix); break;
case 4: $('li#<%=@specline.id%>').after(line_prefix + linetype_4 + line_suffix); break;
case 5: $('li#<%=@specline.id%>').after(line_prefix + linetype_5 + line_suffix); break;
case 6: $('li#<%=@specline.id%>').after(line_prefix + linetype_6 + line_suffix); break;
case 7: $('li#<%=@specline.id%>').after(line_prefix + linetype_7 + line_suffix); break;
case 8: $('li#<%=@specline.id%>').after(line_prefix + linetype_8 + line_suffix); break;
}

ajaxLinks();