<div class="current">  
  
    <div id="toolbar">  
      <%= link_to "Back", {:controller => "speclines", :action => "mob_edit_specline", :id => @specline.project_id, :specline_id => @specline.id}, :class => "back", :rel => "external" %>
      <h2>    
        <table>
        <tr><td><%= @current_project.code %> rev <%= @current_revision_rev %></td></tr>
        <tr><td><%= @specline.clause.clause_code %></td></tr>
        </table>
      </h2>  
    </div>  

  
    <% unless flash.empty? %>  
      <div class="info">  
      <%- flash.each do |name, msg| -%>  
        <%= content_tag :div, msg, :id => "flash_#{name}" %>  
      <%- end -%>  
      </div>  
    <% end %>
    
         
    <ul>
      <% @linetypes.each do |linetype| %> 
        <li class="arrow"><%= link_to "#{linetype.description}", {:controller => "speclines", :action => "mob_update", :id => @specline.project_id, :specline_id => @specline.id, :linetype => linetype.id}%></li>
      <% end %>
    </ul>  
</div>     
