 
  <div class="current">  

    <div id="toolbar">  
      <%= link_to "Log Out", log_out_path, :class => "logout", :rel => "external" %>

      <h1><%= current_user.first_name[0].chr.upcase%>. <%= current_user.surname.capitalize %></h1>  
      <%= link_to "Full Site", projects_path(:mobile => 0), :class => "full_site", :rel => "external" %> 
    </div>  

  <ul>  
  <%@projects.each do |project| %>
  <li class="arrow"><%= link_to "#{project.code} #{project.title}", project_sections_project_path(project.id) %></li>    
  <% end %>
  </ul>    
</div> 