<div class="project_info">
	<div class="project_title">
		<div class="project_code">   
    		Project: <%= @current_project.code%>
		</div>
		<div class="project_code_title">   
    		<%= @current_project.title %>
		</div>
	</div>	
	<div class="project_status">
		Status: <%= @current_project.project_status %>
	</div>
	<div class="project_rev">
    	Rev: <%= @current_revision_rev %>
  	</div>
</div>


<div class="option_band_single">
	
	<div class="section_select_mobile">
		<div class="select_1">
			<div class="label_select_1">Subsection:</div>
			<div class="option_select_1">
      			<%= select_tag "section", options_from_collection_for_select(@project_subsections, :id, :subsection_code, @selected_key_subsection.id), {:class => 'document_selectBox_1', :onchange => "window.location='/projects/#{@current_project.id}?subsection='+this.value;"}  %>	
			</div>
		</div>
		<div class="small_show subsection_button"><%= link_to '+/-', manage_subsections_project_path %></div> 
		
	</div>
	<div class="section_select_tablet">
		<div class="select_1">
			<div class="label_select_1">Subsection:</div>
			<div class="option_select_1">
      			<%= select_tag "section", options_from_collection_for_select(@project_subsections, :id, :subsection_full_code_and_title, @selected_key_subsection.id), {:class => 'document_selectBox_1', :onchange => "window.location='/projects/#{@current_project.id}?subsection='+this.value;"}  %>	
			</div>
		</div>
		<div class="small_show subsection_button"><%= link_to '+/- sections', manage_subsections_project_path %></div> 
	</div>

	<div class="section_select_desktop">
		<div class="select_1">
			<div class="label_select_1">Section:</div>
			<div class="option_select_1">
      			<%= select_tag "section", options_from_collection_for_select(@project_sections, :id, :section_code_and_title, @selected_key_section.id), {:class => 'document_selectBox_1', :onchange => "window.location='/projects/#{@current_project.id}?section='+this.value;"}  %>	
			</div>
		</div>
		<div class="select_2">
			<div class="label_select_1">Subsection:</div>
			<div class="option_select_2">
      			<%= select_tag "subsection", options_from_collection_for_select(@selected_subsections, :id, :subsection_code_and_title, @selected_key_subsection.id), {:class => 'document_selectBox_2', :onchange => "window.location='/projects/#{@current_project.id}?subsection='+this.value;"}  %>	
			</div>
		</div>
		<div class="small_hide subsection_button"><%= link_to 'add/delete sections', manage_subsections_project_path %></div>
	</div>
			
</div>








<% if @selected_key_section.id == 1 %>

<div class="document_tabs">
	<div class="prelim_show">
		<% @selected_specline_lines.each do |spec_line| %>
			<%= clausetype_filter(spec_line, 'true', 'true') %>     
		<%end%>
    	<table><tr class='specline_row'><td></td></tr></table>
	</div>
</div>

<% else %>

<div class="document_tabs">
	<div class="tab_sub_menu">		
		<%= guidance_link(@current_project.id, @selected_key_subsection.id) %>
		<div class="character_menu">
			<div class="character_menu_content">
				<ul>
					<li ></li>

				</ul>
			</div>
			<div class="character_menu_label">insert symbol:</div>
		</div>
		
	</div>	
	
	<ul class='tabs'>
    <% @clausetypes.each do |clausetype|%>
      <li><a <%= class_and_href_ref(clausetype.id, @current_clausetype.id)%>><%= clausetype.text %></a></li>
    <%end%>
  </ul>
	<% @clausetypes.each do |clausetype|%>
	<div id="<%= clausetype.id %>edit_view" class="tab_content <%= clausetype.id %>">    
		<% @selected_specline_lines.each do |spec_line| %>   
			<%= clausetype_filter(spec_line, spec_line.clause.clauseref.clausetype_id, clausetype.id) %>    
		<%end%>
		<table><tr class='specline_row'><td></td></tr></table>
	</div>    
	<%end%>
</div>

<% end %>


