<div class="page_title">Create Account</div>

<div class="content">
	<div class="column_1">
		<div class="column_content">
			<div class="column_title">Company details</div>   
      
      		<% if @company.errors.any? %>  
      		<div class="column_error">
        		<p><%= pluralize(@company.errors.count, "error") %> prohibited this account from being created</p>
      		</div>
	  		<% end %> 

    		<div class="column_sub_content">

				<div class="column_guide">
 					<p>The following information will be printed on the final document.</p>
 					<p>The uploaded project image will be scaled proportionally to maximum 90mm high x 120mm wide</p>     			
      			</div>

				<div class="column_form">
				<%= form_for @company do |f| %>

					<%= f.fields_for :users do |builder| %>
						<%= builder.hidden_field(:role, {:value => 'admin'})%>
						<table>
						<tr><td>
							<div class="project_form_label form_input_label">First Name:*</div>
							<div class="form_input"><%= builder.text_field :first_name, :size => 20  %>
								<div class="form_error_note"><%= error_check(@company, :'users.first_name')%> </div>
							</div>						
						</td></tr>
						<tr><td>
							<div class="project_form_label form_input_label">Surname:*</div>
							<div class="form_input"><%= builder.text_field :surname, :size => 20  %>
								<div class="form_error_note"> <%= error_check(@company, :'users.surname')%> </div>
							</div>				
						</td></tr>
						<tr><td>
							<div class="project_form_label form_input_label">Email Address:*</div>
							<div class="form_input"><%= builder.text_field :email, :size => 40 %>
								<div class="form_error_note"> <%= error_check(@company, :'users.email')%> </div>
							</div>				
						</td></tr>						
						<tr><td>
							<div class="project_form_label form_input_label">Password:*</div>
							<div class="form_input"><%= builder.password_field :password, :size => 20  %>  (min 8 characters long)
								<div class="form_error_note"> <%= error_check(@company, :'users.password')%> </div>
							</div>				
						</td></tr>
						<tr><td>
							<div class="project_form_label form_input_label">Confirm Password:*</div>
							<div class="form_input"><%= builder.password_field :password_confirmation, :size => 20  %>
								<div class="form_error_note"> <%= error_check(@company, :'users.password')%> </div>
							</div>				
						</td></tr>
						<% end %>
						<tr><td>
							<div class="project_form_label form_input_label">Company Name:*</div>
							<div class="form_input"><%= f.text_field :company_name, :size => 40 %>
								<div class="form_error_note"> <%= error_check(@company, :company_name)%>  </div>
							</div>				
						</td></tr>
						<tr><td>
							<div class="project_form_label form_input_label">Registered Name:</div>
							<div class="form_input"><%= f.text_field :reg_name, :size => 40 %> </div>			
						</td></tr>
						<tr><td>
							<div class="project_form_label form_input_label">Company Number:</div>
							<div class="form_input"><%= f.text_field :reg_number, :size => 20 %> </div>			
						</td></tr>
						<tr><td>
							<div class="project_form_label form_input_label">Registered Address:</div>
							<div class="form_input"><%= f.text_field :reg_address, :size => 40 %> </div>			
						</td></tr>
						<tr><td>
							<div class="project_form_label form_input_label">Registered Location:</div>
							<div class="form_input"><%= f.text_field :reg_location, :size => 40 %> </div>			
						</td></tr>
						<tr><td>
							<div class="project_form_label form_input_label">Telephone No:*</div>
							<div class="form_input"><%= f.text_field :tel, :size => 20 %>
								<div class="form_error_note"> <%= error_check(@company, :tel)%> </div>
							</div>				
						</td></tr>	
						<tr><td>
							<div class="project_form_label form_input_label">Website Address:</div>
							<div class="form_input"><%= f.text_field :www, :size => 40 %></div>			
						</td></tr>
						<tr><td>
							<div class="project_form_label form_input_label"><%= f.label :photo, "Company Logo:" %></br>(1Mb max):</div>
							<div class="form_input"><%= f.file_field :photo %>  (the image will be scaled proportionally to maximum 9mm high x 90mm wide)</div>			
						</td></tr>
						<tr><td>
							<div class="project_form_label form_input_label">Accept Terms of Use:*</div>
							<div class="form_input"><%= f.check_box :read_term %>
								<div class="form_error_note"> <%= error_check(@company, :read_term)%></div>
							</div>				
						</td></tr>																																																									
						</table>					
      			</div>   
			</div>
			
			<div class="column_footer">
        		<div>
        			<div class="column_submit"><%= f.submit "Create Free Account"%></div>              
        		<% end %>       		             
        		</div>   
      		</div>			    	
      	</div>   
	</div>

	<div class="column_2 column_blank"></div>	
		 
    <div class="column_3 column_blank"></div>
  
</div>


  


