    <div id = "mob_home_logo">  	
      <%= link_to image_tag("specright_logo_large.png", :width => 252, :height=> 77), root_url(:mobile => 0) %>
	</div>   
   
    <div id = "mob_home_strapline">  	
		great designs deserve great specifications	
	</div> 
  
  
  <div id="mob_home_image_web">
    <%= link_to image_tag("test_page.png", :width=>535, :height=>367, :border=>0), root_url(:mobile => 0) %>
  </div>
  
  <div id="mob_home_image_mob">
    <%= link_to image_tag("iphone_web.png", :width=>342, :height=>211, :border=>0), root_url(:mobile => 0) %>
  </div>
     
   
  <div id="mob_home_intro_text"><t><%= @home.strapline%></t></div> 

	<div id="login">
	<%= form_tag sessions_path do %>
		<%= text_field_tag :email, params[:email], :id=>"login_email", :placeholder => " email" %>  
		<%= password_field_tag :password, params[:password], :id=>"password", :placeholder => " password", "data-theme"=>"a", "class"=>"ui-input-text ui-body-a ui-corner-all ui-shadow-inset" %>  
		<%= submit_tag 'Sign in', :class => "login_submit", "data-theme" => "b" %> 

    <% end %> 
	</div>   
