    <div class="mob_home_logo">  	
      <%= link_to image_tag("specright_logo.png", :width => '120px'), root_url(:mobile => 0) %>
	</div>   
   
    <div class="mob_home_strapline">  	
		great designs deserve great specifications	
	</div> 
  
  
  <div class="mob_home_image_web">
    <%= link_to image_tag("mob_gen.png", :width => '300px', :border=>0), root_url(:mobile => 0) %>
  </div>
     
  <div class="mob_page_container"> 
		<div class="mob_home_intro_text"><t><%= @home.strapline%></t></div> 

		<div class="mob_login_form">
		
		<%= form_tag sessions_path do %>
			<div class="mob_login"><%= text_field_tag :email, params[:email], :id=>"login_email", :placeholder => " email" %>  	</div>   
			<div class="mob_login"><%= password_field_tag :password, params[:password], :id=>"password", :placeholder => " password" %>  	</div>   
			<div class="mob_login"><%= submit_tag 'Sign in', :class=> 'login_submit'%> 	</div>   
    	
    	<% end %> 
		</div>
	</div>