<div class="page_title">Export product data</div>


<div class="content">
    <div class="column_1">
		<div class="column_content">        
			<div class="column_title">Download data</div>   
     
    		<div class="column_sub_content">            
					
				<div class="column_guide">
					<p>Select data/template to download. All files are downloaded as a csv file</p>
      			</div>

      			<div class="column_form">
					  
			<%= form_tag() do %>
			<!-- options - download existing products -->		
			<table>
			<tr><td>
				<div class="radio_button"><%= radio_button_tag :data, 'company_template' %></div>
				<div class="radio_button_label">Company product data template (no data)</div>			
			</td></tr>
			<tr><td>
				<div class="radio_button"><%= radio_button_tag :data, 'company_data', :checked => true %></div>
				<div class="radio_button_label">Company product data</div>			
			</td></tr>
			<% if @product_clauses %>
			<tr><td>
				<div class="radio_button"><%= radio_button_tag :data, 'company_clauses'%></div>
				<div class="radio_button_label">Company product data by Clause Reference:</div>			
			</td></tr>
			<tr><td>
      			<div class="product_clause_select">      				
      				<table>
      					<tr><td>      		
      						<%= select_tag "clause_ids", options_from_collection_for_select(@product_clauses, :id, :clause_section_full_title), { :disabled => true, :multiple => true, :size => 12}  %>													
 						</td></tr>
 					</table>
 				</div>
			</td></tr>
			<% end %> 
			</table>
			<% end %>	      	
      			</div>
      		</div>
 
      		<div class="column_footer">
        		<div>
        			<div class="column_submit"><%= submit_tag "download product data" %></div>
                  
        		</div>   
      		</div>
      	</div>  
    </div>
        
    <div class="column_2 column_blank"></div>
 
    <div class="column_3 column_blank"></div>
    
</div>