<div id="page_title">FEATURES</div>


  <a id="small_trial_link" href="<%=sign_up_path %>">  
    <t class="small_trial_link_text">Try Specright free</t>
  </a>


<div id="line"></div>

<% @features.each do |feature|%>
    <a href="<%=feature_path(feature) %>">
  <div id="feature_frame<%= feature.id %>">          

       <%= image_tag "#{feature.title}.png", :border=>0, :alt => 'foo', :class=>"feature_img" %>
       <p class="feature_title"><%= feature.title %></p>
       <p class="feature_text"><%= feature.shorttext %></p>
       

  </div>
    </a>

<% end %>