<div class="web_page_body">
	<div class="web_title"><%= @feature.title %></div>
	<div class="web_title_signup_link"><%= link_to "create free account", sign_up_path %></div>

	<div class="web_main_content">
    	<div class="web_main_column_1">

      		<div class="web_home_image"><%= image_tag "#{@feature.feature_show_img}.png", :class=>"web_home_img" %></div>

    	</div>        
    	<div class="web_main_column_2">
  				
  			<div class="web_main_text"><%= @feature.text_1.html_safe %></div>

    	</div>     
	</div>

<% if  [7,8,9].include?(@feature.id) %>
	<!-- features index --> 
	<div class="web_feature_index_small">
		<div class="web_feature_index_small_container">
		<% @features.each do |feature|%>
		    <div class="web_feature_menu_item_small">
      			<a href="<%=feature_path(feature) %>">
       				<%= image_tag "#{feature.title}.png", :border=>0, :class=>"web_feature_small_img" %>
       				<p class="web_feature_title_small"><%= feature.title %></p>     
      			</a>
    		</div>
    	<% end %>
    	</div>		
	</div>
<% else %>
	<!-- features index --> 
	<div class="web_feature_index_small">
		<div class="web_feature_index_small_container">
		<% @features_2.each do |feature|%>
		    <div class="web_feature_menu_item_small">
      			<a href="<%=feature_path(feature) %>">
       				<%= image_tag "#{feature.title}.png", :border=>0, :class=>"web_feature_small_img" %>
       				<p class="web_feature_title_small"><%= feature.title %></p>     
      			</a>
    		</div>
    	<% end %>
    	</div>		
	</div>
<% end %>    

	<%= render :partial => "application/web_footer" %>

</div>