<div class="web_page_body">
	<div class="web_title_band">
		<div class="web_title"><%= @feature.title %></div>
	</div>
	<div class="web_title_signup_link"><%= link_to "create free account", sign_up_path %></div>

	<%= render :partial => "application/content_tile", locals: {feature_contents: @feature_contents}  %>
	
	<div class="web_title_band_2"></div>

	<%= render :partial => "application/sml_menu_tile", locals: {menu_contents: @menu_contents}  %>     

	<%= render :partial => "application/web_footer" %>

</div>