<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Projects: <%= controller.action_name %></title>

    <%= stylesheet_link_tag  'application-main' %>   
    <%= javascript_include_tag 'application' %>
        <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
	<%= csrf_meta_tags %>

</head>

<body>

<!-- not working properly
<p style="color: green"><%= flash[:notice] %></p>
<div id="loadingdiv" class="loadingdiv">
<div id="loadingdiv2"></div>
<div id="loading_gif"><%= image_tag("ajax-loader.gif") %></div>
<div id="loading_text">loading...</div>
</div>
--> 


<div id="header">
  <div id="logo_logged_in">
      <%= link_to image_tag("specright_logo.png", :width => 100, :height=> 30, :border=>0), home_path%>
  </div>



</div>

  <div id="user_menu">

  </div>

<%= yield %>





</body>

</html>